html,
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a1423;
  color: white;
  height: 100%;
}
#app {
  padding: 20px;
}
.Lists{
  display: flex;
  flex-wrap: wrap;
}
.ListWrapper{
  flex:1;
  margin: 20px;
  background-color: #3f2f2f;
  border-radius: 10px;
  padding:20px;
  border: 1px gray solid;
}
.lightTheam{
  background-color: #f3f3f3;
  color: #3f2f2f;
}
footer {
  border-top: 1px solid gray;
  color: rgb(108, 86, 56);
  margin-top: 20px;
  padding-top:10px ;
}
#ListItem label {
  
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border: gray 1px solid;
  padding: 10px;
}
body {
  display: grid;
  place-items: center;
}
ul {
  padding: 0;
  list-style: none;
}
h2 {
  display: flex;
  justify-content: space-between;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  margin: 3px;
  background-color: inherit;
  color: white;
  border: white 2px solid;
  border-radius: 10px;
  padding: 2px 8px;
  font-size: 10px;
  cursor: pointer;
}
.active{
  color: blue;
  border: 2px blue solid;
}
.tag:hover{
  background-color: white;
  color: #3f3f3f;
  border: 2px solid #3f3f3f;

}

.btn {
  background-color: white;
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px;
}
.close{
  display: flex;
  align-self: flex-start;
  cursor: pointer;
  font-size: 20px;
  color: white;
  border: inherit;
  background-color: inherit;
}
.close:hover{
  opacity: 0.5;
}

form {
  display: flex;
}
